.resume-about__image > div {
  background-image: url(https://img.freepik.com/premium-vector/about-me-concept-illustration-premium-vector_40345-1224.jpg?w=1380);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.resume-about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70vh;
}

.resume-about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.resume-about__text-container {
}

.resume-about__title {
  font-family: "Righteous", cursive;
  color: rgb(95, 187, 126);
  font-size: 5rem;
  margin-left: 100px;
}

.resume-about__text {
  margin-left: 70px;
  font-size: 17px;
  word-spacing: 2px;
  padding: 15px 30px;
}
