.resumeShapes-container {
  width: 50%;
  margin-right: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resumeShapes-container__circle {
  width: 150px;
  height: 150px;
  background-color: rgba(16, 71, 98, 0.615);
  border-radius: 5px;
  animation: shape 4s infinite linear;
  border-width: 1px;
  border-style: solid;
  position: relative;
}
.projects {
  color: rgb(95, 187, 126);
  font-size: 30px !important;
  font-weight: bold;
  margin-top: 50px !important;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: none !important;
}

.projects:hover {
  color: rgb(95, 187, 126) !important;
  font-size: 32px !important;
}

@keyframes shape {
  0% {
    border-color: rgb(95, 187, 126);
    transform: rotate(0deg) scale(1.1);
  }
  50% {
    background-color: rgba(16, 98, 77, 0.615);
    border-color: rgba(78, 2, 159, 0.497);
    border-radius: 50%;
  }
  100% {
    border-color: rgb(95, 187, 126);
    transform: rotate(180deg) scale(1.1);
  }
}
@media screen and (max-width: 390px) {
  .resumeShapes-container__circle {
    width: 100px;
    height: 100px;
  }
  .projects {
    font-size: 23px !important;
    margin-top: 25px !important;
  }
  .projects:hover {
    font-size: 25px;
  }
  .resumeShapes-container {
    margin-right: 55px;
  }
}

@media screen and (max-width: 638px) {
  .resumeShapes-container {
    margin-left: 55px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 390px) {
  .resumeShapes-container__circle {
    width: 125px;
    height: 125px;
  }
  .projects {
    font-size: 23px !important;
    margin-top: 25px;
  }
  .projects:hover {
    font-size: 27px;
  }
  .resumeShapes-container {
    margin-right: 55px;
  }
}

@media screen and (min-width: 768px) {
  .resumeShapes-container__circle {
    width: 125px;
    height: 125px;
  }
  .projects {
    font-size: 18px;
    margin-top: 25px;
  }
  .projects:hover {
    color: rgb(95, 187, 126);
    font-size: 19px;
  }
}

@media screen and (min-width: 992px) {
  .resumeShapes-container__circle {
    width: 150px;
    height: 150px;
  }
  .projects {
    font-size: 20px;
    margin-top: 30px;
  }
  .projects:hover {
    color: rgb(95, 187, 126);
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .resumeShapes-container__circle {
    width: 200px;
    height: 200px;
  }
  .projects {
    font-size: 50px !important;
    margin-top: 50px !important;
    font-weight: none !important;
  }
  .projects:hover {
    color: rgb(95, 187, 126);
    font-size: 52px !important;
  }
  .resumeShapes-container {
    margin-right: 100px;
  }
  .resumeShapes-container {
    width: 50%;
  }
}
