span {
  display: inline-block;
}

.o {
    font-family: "Righteous", cursive;
    text-shadow: -10px 0px rgb(123, 35, 35) !important;
}

@media screen and (max-width: 390px) {
  .o {
    text-shadow: -2.5px 0px rgb(123, 35, 35) !important;
  }
}

@media screen and (min-width: 390px) {
  .o {
    text-shadow: -5px 0px rgb(123, 35, 35) !important;
  }
}

@media screen and (min-width: 768px) {

  .o {
    text-shadow: -5px 0px rgb(123, 35, 35) !important;
  }
}

@media screen and (min-width: 992px) {
  .o {
    text-shadow: -8px 0px rgb(123, 35, 35) !important;
  }
}

@media screen and (min-width: 1400px) {
  .o {
    text-shadow: -10px 0px rgb(123, 35, 35) !important;
  }
}