* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: rgb(4,4,4);
  color: white;
  position: relative;
  scroll-behavior: smooth;
}

.ResumeCollapseComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
}

